<main>
    <a [routerLink]="['/']">
        <header class="joshua-logo">
            <img class="joshua-img" src="/assets/Logo-leftSM.png" alt="JMC Logo" />
    </header>
    </a>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <!-- <section class="title">
        <h1 class="title-header">Welcome to the Kahlani Points App</h1>
        <h3 class="title-subheader">Login to See How Many Points You Have!</h3>

    </section>

    <button class="button" >Login</button> -->
</main>

