:host {
    --content-padding: 10px;
}

header {
    display: block;
    background-color: var(--shadow-color);
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
}

.content {
    padding: var(--content-padding);
}

/*
.title-header {
    padding: 150px 0px;
    padding-bottom: 0px;
    font-size: 40px;
    text-align: center;
}

.title-subheader{
    padding: 15px 0px;
    font-size: 30px;
    text-align: center;
}

.joshua-img {
    /* display: flex;
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%; 
}

.button {
    background-color: #ffd700;
    color: black;
    padding: 15px 32px;
    text-align: center;
    justify-items: center;
    right: 45%;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    border-radius: 40px;
} */